.nav {
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 2rem);
  border: 1px solid;
  padding: 1rem;
}

.nav-icon-grp {
  gap: 1rem;
  font-size: 2rem;
}

.backCircle {
  font-size: 2rem;
}
